<% provide(:title, @user.name) %>
<div class="row px-5 m-0">
    <div class="col-lg-4">
        <div class="card glass-background">
            <div class="card-body text-center">
                <div class="col-4 mx-auto">
                    <%= render 'shared/profile_image', user: @user %>
                </div>
                <h3><%= @user.name %></h3>
                <p><%= @user.email %></p>
                <% if current_user.id == @user.id %>
                    <div class="d-flex justify-content-center">
                        <%= link_to "View Profile", "#", class:"btn btn-warning" %>
                        <%= link_to "Update Profile", edit_user_path(current_user), class:"btn btn-primary ms-2" %>
                    </div>
                <% end %>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <a class="h4 text-decoration-none" href="" data-bs-toggle="modal" data-bs-target="#followingModal">
                            <%= "#{@user.followings.count} following" %>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="h4 text-decoration-none" href="" data-bs-toggle="modal" data-bs-target="#followersModal">
                            <%= "#{@user.followers.count} followers" %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="p-3 rounded text-center bg-danger">
                    <%= link_to @user.words.count, lessons_path(id: @user), class:"text-decoration-none h1" %>
                    <p>words learned</p>
                </div>
            </div>
         </div>
    </div>
    <div class="col-lg-8">
        <h2 class="fw-bolder mt-3 mt-lg-0">Feed</h2>
        <hr>
        <%= render 'shared/activity_lists' %>
    </div>
</div>

<%= render "shared/relationship_modal", lists: @user.followings, id: "followingModal", title: "Followings" %>
<%= render "shared/relationship_modal", lists: @user.followers, id: "followersModal", title: "Followers" %>