<%= form_with(model: @category, local: true) do |f| %>
    <div class="input-group mt-4">
        <span class="input-group-text w-25"><%= f.label :title%></span>
        <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="input-group mt-4">
        <span class="input-group-text w-25"><%= f.label :description %></span>
        <%= f.text_field :description, class: "form-control" %>
    </div>

    <%= f.submit class:"btn btn-primary w-100 mt-3" %>
<% end %>